{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://media.istockphoto.com/vectors/young-happy-smiling-man-with-a-laptop-lies-in-a-hammock-remote-vector-id1294457083?k=20&m=1294457083&s=612x612&w=0&h=Hd0DWkQVpOVKyhV8gTeVdx86rwp9y4gqkPuZchVFSds=')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Logical and result-driven programmer, </p>
        <p>Motivated scientist who demonstrates scientific concepts and</p>
        <p>Well, i love to devise elaborate methods for solving engineering problems</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}